{{range .}}{{$opid := .OperationId}}
{{range .TypeDefinitions}}
{{ if .Schema.Description }}{{ toGoComment .Schema.Description .TypeName  }}{{ else }}// {{.TypeName}} defines parameters for {{$opid}}.{{ end }}
type {{.TypeName}} {{if .IsAlias}}={{end}} {{.Schema.TypeDecl}}
{{end}}
{{end}}
